.weather-search {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

/* .weather-card,
#today {
  background-image: linear-gradient(
    rgb(10, 1, 33) 0%,
    rgba(29, 2, 111, 0.5) 100%
  );
} */
.weather-card,
.weather-header,
.stored-city,
#search-button,
#intro,
#today {
  background-image: var(--bs-gradient);
}

#today *,
#forecast * {
  color: #fff;
}
